.container__vacancies__design{
    height: 358px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-top: 48px;
}

.title {
    width: 768px;
    font-size: 20px;
    font-weight: 500;
    color: var(--dark-teal);

}

